/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,ul,li,ol,dl,dd,li,p,h1,h2,h3,h4,h5,h6,form,input,select{
    padding:0;
    margin:0;
    list-style: none;
    font-family: '黑体';
}
input{
    outline: none;
}
body a{
    text-decoration: none;
}
body a{
    transition:all .5s;
}
body a:hover{
    color:orange;
    text-decoration: underline;
}
.n-picbox img{
    display: block;
    width: 958px;
    margin:0 auto;
    border: 1px solid #ccc;
}
.top{
    width: 960px;
    height: 145px;
    margin:0 auto;
    background: url(../img/top.jpg) no-repeat;
    position: relative;
}
.login{
   width: 184px;
   height: 30px;
   line-height: 30px;
   font-size: 13px;
   float: right;
   margin-top: 10px;
   margin-right: 20px;
}
.login li,.login  a{
    width: 61px;
    color: black;
    text-align:right;
    float: left;
}
.search{
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom:13px;
}
.search form{
    width:320px;
    height: 25px;
    line-height: 25px;
    margin:0 50%;
    overflow: hidden;
    border:1px solid #BBB;
}
.search form input{
    display: block;
    float: left;
    margin:0 auto;
    height: 25px;
    line-height: 25px;
    border:none;
    font-size: 13px;
    overflow: hidden;
}
.search-content{
    width: 260px;
    padding-left: 5px;
    color:#999999;
}
.search-btn{
    width: 55px;
    text-align: center;
    margin-left: 3px;
    background:#6FA936;
    color:white;
    font-size: 14px !important;
}
.search-btn:hover{
    background:#79B73B;
}
/*nav*/
.nav{
    width: 960px;
    height: 30px;
    line-height: 30px;
    margin:0 auto;
    background: url(../img/nav-bg.jpg);
}
.nav li{
    width: 12.5%;
    height: 30px;
    float: left;
    line-height: 30px;
}
.nav a{
    display: block;
    width:100%;
    text-align: center;
    color: white;
    font-size: 15px;
    transition:all .4s;
    font-weight: bold;
}
.nav a:hover{
    font-weight: bold;
    color:white !important;
    text-decoration: none !important;
}
/*footer*/
footer{
    width: 960px;
    height: 210px;
    margin:0 auto;
    margin-top:10px;
    background: url(../img/footer.png) repeat;
}
.footer-center{
    width: 710px;
    height: 150px;
    margin:0 auto;
    padding-top: 15px;
    margin-bottom: 5px;
}
.footer-center ul{
    margin-right:76px;
    width: auto;
    height: auto;
    font-size: 14px;
    color: white;
    float:left;
}
.footer-center h3{
    height: 30px;
    line-height: 30px;
}
.footer-center p{
    line-height:17px;
    font-size:10px;
    float: left;
}
.footer-center p a{
    color: #83FDFE;
}
.footer-center .one{
    width: 190px;
    overflow: hidden;
}
.two{
    width: 145px !important;
    height: auto;
    overflow: hidden;
}
.two a{
    line-height: 17px;
    font-size:10px;
    margin-right: 20px;
    color: white;
    display: block;
    width: 48px;
    float: left;
    text-align: justify;
    text-align-last:justify;
}
.footer-center .three{
    width: 176px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-right: 0px;
    float: left;
}
.footer-center .three li{
        line-height: 17px;
    font-size:10px;
}
.footer-center .three li h3{
    font-size: 15px;
        height: 30px;
    line-height:30px;
}
.footer-line{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background:rgba(0,0,0,.5);
    text-align: center;
    font-size: 13px;
    color: white;
}
#Marquee_x{
    width:690px;
    height: 138px;
    overflow: hidden;
    margin:0 auto;
    margin-top: 10px;
}
#Marquee_x ul,#Marquee_x ul li{
    height: 138px;
}
#Marquee_x ul li ,#Marquee_x ul li>div{
    float:left;
    height: 138px;
}
.hos-font,.hos-font2{
    height: 15px;
    line-height: 15px;
    font-size: 10px;
}
.hos-font a,.hos-font2 a{
    color: black;
}
.hos-font2{
    width:100px;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
